<!DOCTYPE html>
<html>
<head>
    <title>Input Marks</title>
</head>
<body>
    <h1>Input Marks</h1>
    <form method="post">
        {% csrf_token %}
        <label for="student">Student:</label>
        <input type="text" name="student" required>
        <label for="RollNo">Roll Number: </label>
        <input type="number" name="RollNo" required>
        <br>
        <label for="subject">Subject:</label>
        <input type="text" name="subject" required>
        <br>
        <label for="teacher">Teacher:</label>
        <input type="text" name="teacher" required>
        <br>
        <label for="marks">Marks:</label>
        <input type="number" name="marks" required>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
